html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
}
#wrapper{
    min-height: 100%;
    position: relative;
}
#header{
    background:  rgba(  2,  4,103,1);
    color: white;
}
#header>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
    display: inline-block !important;
    width:  100%;
}
#header>ul>li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
    display: inline-block !important;
    padding: 20px;
}
/* main background style */
#jumbo{
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
    /* z-index: 10; */
    /* overflow-x: visible !important;
    overflow-y: visible !important; */
}
.bg1{
    background: linear-gradient( rgba(2,  4,103,0.5), rgba(255,144,  0,0.5)), url('../images/bg-1.jpg');
    background-size: cover;
    height: 100vh;
}
.bg2{
    background: linear-gradient( rgba(2,  4,103,0.5), rgba(255,144,  0,0.5)), url('../images/bg-2.jpg');
    background-size: cover;
    height: 100vh;
}
.bg3{
    background: linear-gradient( rgba(2,  4,103,0.5), rgba(255,144,  0,0.5)), url('../images/bg-3.jpg');
    background-size: cover;
    height: 100vh;
}
.bg4{
    background: linear-gradient( rgba(2,  4,103,0.5), rgba(255,144,  0,0.5)), url('../images/bg-4.jpg');
    background-size: cover;
    height: 100vh;
}
.bg5{
    background: linear-gradient( rgba(2,  4,103,0.5), rgba(255,144,  0,0.5)), url('../images/bg-5.jpg');
    background-size: cover;
    height: 100vh;
}
#jumbo2{
    height: 100vh;
    width: 100%;
    margin: 0px;
    background:linear-gradient( rgba(64, 48,117, 0.8), rgba(136,124,175, 0.8)), url('../images/chest.jpg');
}
#jumbo>div>h1 {
  font-size: 75px;
  font-weight: 400;
}
#jumbo>div>h1,h3{
    margin-top: -1%;
    color: white;
}
#jumbo>div:nth-child(2)>div>button {
  margin-top: 10% !important;
}

/* button style */
.btn {
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 4px;
    cursor: pointer;
    border-radius: 32px;
    font-size: 18px;
    transition: 0.3s;
  }
  .btn:hover {
    border: 3px solid #AAAA39;
    background-color: white;
    color: #AAAA39;
  }
  .btn-small {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    transition: 0.3s;
  }
  .btn-small:hover {
    border: 2px solid #AAAA39;
    background-color: white;
    color: #AAAA39;
  }
  .btn-primary {
    background-color:rgba(197,111,  0,1);
  }
  #check-out{
      margin-right: 25%;
  }

/* Footer style */
#footer {
    background:rgba(2,  4,103,0.9) !important;
    width:100%;
    height:30px;
    position:absolute;
    bottom:0;
    left:0;
    color: white;
    z-index: 5000;
}
#footer>span{
    display: inline-block;
    font-size: 18px;
    margin-top: 1%;
    bottom: 1px;
}
#footer>p{
    display: inline-block;
    font-size: 14px;
    margin-top: 1%;
    bottom: 1px;
}

/* modal generic styles */
.modal-design {
    margin: 0 auto;
    width: 70%;
    padding: 5%;
  }
  .modal-design>p {
    position: absolute;
    top: -25px;
    right: 10px;
    font-size: 25px;
    font-weight: 300;
    font-style: bold;
    color: red;
  }
  .point-it {
    cursor: pointer;
  }
  .modal-design  button {
    position : relative;
    left: 70px;
    width: 50%;
  }

  .hidden {
    display: none;
  }

  #login{
      margin-top: 15%;
  }
  #signup{
      margin-top: 5%;
  }

  input {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(197,111,  0,1);
  }

  .form-group {
    padding: 5px;
  }
  .form-control {
    height: 20px;
    width: 100%;